
COEProject/__pycache__/urls.cpython-38.pyc
*.pyc
.vscode/launch.json
*.pyc
*.log
employees/__pycache__/models.cpython-38.pyc
employees/__pycache__/urls.cpython-38.pyc
*.log
*.pyc
*.log
*.pyc
*.pyc
*.log
